---
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  nav {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 1rem;
  }
</style>
