---

---

<button 
  aria-expanded="false" 
  aria-controls="main-menu" 
  aria-label="Toggle navigation menu"
  class="menu-button"
>
  <span class="menu-icon">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </span>
</button>
